body {
    background-image:    url(../../images/background.png);
    background-color: rgba(0, 0, 0, 0.97);
    background-size:     cover;
    background-repeat:   no-repeat;
    min-height: 100vh;
    background-position: center center;
    overflow: hidden;
}


* {
    font-family: "Comfortaa";
    color: #e8c8c8;
}

.filter-pink {
    filter: invert(73%) sepia(30%) saturate(340%) hue-rotate(314deg) brightness(300%) contrast(50%);
  }

    .ham {
        position: fixed;
        z-index: 100;
        top: 2vh;
        right: 3%;
        width: 15%;
        border: transparent;
        background-color: Transparent;
        cursor: pointer;
    }

    .menuIcon {
        width: 100%;
    }

    .xIcon {
        width: 100%;
        display: none;
    }

        .menu {
            font-size: 40px;
            margin: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background: black;
            color: white;
            transform: translateY(-100%);
            transition: transform 0.2s;
            list-style: none;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
        }


        .showMenu {
            transform: translateY(0);
        }

            .show {display: block;}

            .nav-link {
                padding-left: 32px;
                padding-right: 20px;
                float: left;
                text-align: center;
                text-decoration: none;
            }

            .dropdown-content {
                display: none;
            }

            .dropbtn {
                text-decoration: none;
                font-size: 32px;
                display: block;
                border: none;
                background: none;
                width:100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }
