{% extends "admin/base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/admin/edit_home.css">
<link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.min.css">
{% endblock %}
{% block loaded_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } }</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.js"></script>
<script>
    code_tabs = {
        "web": {
            "style": `{{index_code.web.style|safe}}`,
            "content": `{{index_code.web.content|safe}}`
        },
        "mobile": {
            "style": `{{index_code.mobile.style|safe}}`,
            "content": `{{index_code.mobile.content|safe}}`
        },
        "files_list": []
    }
</script>
<script src="/static/scripts/admin/edit_home.js"></script>
{% if index_code.files_list %}
<script>
    init_files({{index_code.files|safe}})
</script>
{% endif %}
{% endblock %}
{% block content %}

<div class="info">
    <h3>Some usefull custom patterns:</h3>
    <div><b>{% raw %}{{ lang_arg }}{% endraw %}</b> - language argument for links, example: "?lang=ru"</div>
    <div><b>{% raw %}{{ image=image_name }}{% endraw %}</b> - pattern to insert uploaded images by name, example: {% raw %} {{ image=cover.jpg }} {% endraw %}</div>
    <div><b>{% raw %}{{ translate={"en":"eng_text","ru":"русский_текст"} }}{% endraw %}</b> - pattern to add different languages for text, example: {% raw %} {{ translate={"en":"album","ru":"альбом"} }} {% endraw %}</div>
</div>

<div class="code-editor" id="code-editor">
    <div class="tabs">
        <div class="code-tabs">
            <button class="tab-button selected" id="content">html</button>
            <button class="tab-button" id="style">css</button>
        </div>
        <div class="tab-tittle">home editor</div>
        <div class="device-tabs">
            <button class="tab-button selected" id="web">web</button>
            <button class="tab-button" id="mobile">mobile</button>
        </div>
    </div>
    <div id="code" class="code"></div>
</div>

<div class="controls">
    <div class="files">
        <div class="image-parameter">
            <label for="file-container" class="file-action">
                <img src="/static/images/icons/upload.svg"> Upload image
            </label>
            <input type="file" name="image-to-upload" accept="image/*" id="file-container">
        </div>
        <div id='image-list-display'></div>
    </div>

    <div class="template-control-buttons">
        <div class="template-parameter">
            <label for="upload-template" class="file-action">
                <img src="/static/images/icons/upload.svg"> Upload template
            </label>
            <input type="file" name="template-to-upload" accept=".zip"  id="upload-template">
        </div>
        <div class="template-parameter">
            <label for="download-template" class="file-action">
                <img src="/static/images/icons/download.svg"> Download template
            </label>
            <input type="submit" value="download" name="download" id='download-template' class="index-control-button">
        </div>
    </div>

    <div class="index-control-buttons">
        <input type="submit" value="save" name="save" id='submit-changes' class="index-control-button">
        <!-- <input type="submit" value="upload" name="upload" id='upload-template' class="index-control-button"> -->
        <input type="submit" value="preview" name="preview" id='preview-template' class="index-control-button">
        <input type="submit" value="cancel" class="index-control-button" onclick="location.href='/admin/';">
    </div>
</div>

<div id="frame-wrapper">
    <iframe height="500px" src="/" width="1000px" id="previewFrame" style='style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);'></iframe>
</div>

<div class="modal"></div>
{% endblock %}