{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/release.css">
{% endblock %}
{% block title %}
<title>станет хуже - {{release.release_name}}</title>
<meta name="title" content="станет хуже - {{release.release_name}}">
<meta property="og:title" content="станет хуже - {{release.release_name}}">
<meta name="twitter:title" content="станет хуже - {{release.release_name}}">
<meta name="description" content="{{release.release_type}}, {{release.release_date}}">
<meta property="og:description" content="{{release.release_type}}, {{release.release_date}}">
<meta name="twitter:description" content="{{release.release_type}}, {{release.release_date}}">
<meta name="image" content="{{config.AWS_CLOUD_FRONT_DOMAIN}}/releases/{{release.release_id}}/og.jpg">
<meta property="og:image" content="{{config.AWS_CLOUD_FRONT_DOMAIN}}/releases/{{release.release_id}}/og.jpg">
<meta name="twitter:image" content="{{config.AWS_CLOUD_FRONT_DOMAIN}}/releases/{{release.release_id}}/og.jpg">
<meta name="url" content="http://www.stanethuzhe.ru/">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block content %}
<div class="media-side">
    <div class="cover"
        style="max-width: 700px; background-image: url({{config.AWS_CLOUD_FRONT_DOMAIN}}/releases/{{release.release_id}}/cover.jpg); background-size: contain;">
        <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%;">
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/{{release.bandcamp_id}}/size=large/bgcol=000000/linkcol=ffffff/tracklist=true/transparent=true/"
                style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen
                scrolling="no" allow="encrypted-media"></iframe>
        </div>
    </div>
    <div class="services-section">
        <ul class="services">
            {% for service in release.services %}
            <li>
                <div class="service">
                    <a href="{{ service.link }}" class="service-link" target="_blank">
                        <img src="/static/images/services/{{ service.name }}.png">
                    </a>
                    <a href="{{ service.link }}" class="service-link" target="_blank">
                        <button class="service-btn">{{_('Play')}}</button>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% for youtube_video in release.youtube_videos %}
    <div class="auto-resizable-iframe">
        <div>
            <iframe class="youtube-player" src="https://www.youtube.com/embed/{{youtube_video}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
    {% endfor %}
</div>
<div class="release-info">
    <div class="release-head">
        <div class="release-name"> {{release.release_name}}&nbsp;<span class="share">
                <button class="share-btn">
                    <div class="share-text">{{_('share')}} </div>
                    <img class="share-icon" src="/static/images/icons/share.svg">
                </button>
                <div class="share-dropdown">
                    <a class="share-link" target="popup"
                        onclick="copyToClipboard('https://www.stanethuzhe.ru/releases/{{release.release_id}}')">
                        <img src="/static/images/icons/link.svg" title="Copy link"
                            style="height: 30px; margin-right: -5px;" />
                    </a>
                    <a class="share-link" target="popup"
                        onclick="window.open('http://vkontakte.ru/share.php?url=https://www.stanethuzhe.ru/releases/{{release.release_id}}','name','width=600,height=400')">
                        <img src="/static/images/vk.svg" title="VK" style="height: 15px;" />
                    </a>
                    <a class="share-link" target="popup"
                        onclick="window.open('https://t.me/share/url?url=https://www.stanethuzhe.ru/releases/{{release.release_id}}','name','width=600,height=400')">
                        <img src="/static/images/telegram.png" title="Telegram" style="height: 20px;" />
                    </a>
                    <a class="share-link" target="popup"
                        onclick="window.open('https://twitter.com/share?url=https://www.stanethuzhe.ru/releases/{{release.release_id}}','name','width=600,height=400')">
                        <img src="/static/images/twitter.svg" title="Twitter" style="height: 23px;" />
                    </a>
                    <a class="share-link" target="popup"
                        onclick="window.open('http://www.facebook.com/sharer.php?u=https://www.stanethuzhe.ru/releases/{{release.release_id}}','name','width=600,height=400')">
                        <img src="/static/images/facebook.svg" title="Facebook"
                            style="height: 20px; margin-left: -5px;" />
                    </a>
                </div>
            </span>
        </div>
    </div>
    <div class="date">{{_('Release date')}}: {{release.date}} </div>
    <div class="tracklist-head">{{_('Tracklist')}}:</div>
    <ul class="tracklist">
        {% for track in release.tracklist%}
        <div class="lyrics-dropdown">
            <button onclick="openLyrics('{{ track.track_id }}')" class="lyrics-btn">
                {{loop.index}}. {{ track.name }}
                {% if track.explicit %}
                <span class="explicit"> <img class="explicit-icon" src="/static/images/icons/explicit.svg"> </span>
                {%endif %}
                <span class="expand"> <img class="expand-icon" src="/static/images/icons/expand.svg"
                        id="{{ track.track_id }}-expand-icon"> </span>
            </button>
            <div id={{ track.track_id }} class="lyrics">
                <pre>{{track.lyrics}}</pre>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
<div class="copied-alarm">
    <div>Link copied</div>
</div>
{% endblock %}

{% block loaded_scripts %}
<script src="/static/scripts/release.js"></script>
{% endblock %}