{% extends "mobile/base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/mobile/feed.css">
{% endblock %}
{% block scripts %}
<script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div id="vk_groups"></div>
{% endblock %}
{% block loaded_scripts %}
<script type="text/javascript">
    var header_h = document.querySelector('.header').clientHeight;
    var height = window.innerHeight - header_h;
    VK.Widgets.Group("vk_groups", {
        mode: 4,
        width: window.innerWidth,
        height: height,
        no_cover: 1,
    }, 188825166);
</script>
{% endblock %}