{% extends "admin/login/login.html" %}
{% block title %}
<title>станет хуже admin: change password</title>
{% endblock %}
{% block content %}
<form method="POST" action="{{request.url}}" class="login-form">
    <div>
        <b>Set new password</b>
    </div>
    <div>
        <label for="username"><b>Username</b></label>
        <input name="username" type="text" id="username"
            onkeyup="disable_checker([new_password_checker, cur_credentials_checker], 'reset_button')">

        <label for="password"><b>Current password</b></label>
        <input name="cur_password" type="password" id="cur_password"
            onkeyup="disable_checker([new_password_checker, cur_credentials_checker], 'reset_button')">

        <label for="password"><b>New password</b></label>
        <input name="password" type="password" id="password"
            onkeyup="disable_checker([new_password_checker, cur_credentials_checker], 'reset_button')">

        <label for="confirm"><b>Confirm new password</b></label>
        <input name="confirm" type="password" id="confirm"
            onkeyup="disable_checker([new_password_checker, cur_credentials_checker], 'reset_button')">
        <div>
            <div class="invalid" id="equal_passwords">
                <span>Entered passwords must be same</span>
            </div>
            <div class="invalid" id="lower_case">
                <span>Password must contain a lower case letter</span>
            </div>
            <div class="invalid" id="upper_case">
                <span>Password must contain an upper case letter</span>
            </div>
            <div class="invalid" id="is_number">
                <span>Password must contain a number</span>
            </div>
            <div class="invalid" id="min_char">
                <span>Password must contain at least 8 characters</span>
            </div>
        </div>
    </div>
    {% if status%}
    <div class="message">
        {{status}}
    </div>
    {% endif %}
    <input type="submit" value="Change password" class="reset-button" id="reset_button" disabled>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/admin/login.js"></script>
{% endblock %}