{% extends "admin/base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/home.css">
{% endblock %}
{% block content %}
<ul class="releases">
    {% for release in get_release_list() %}
    <li>
        <div class="release">
            <div class="release-name">{{release.lang_type}} "{{release.name}}"</div>
            <a href="/admin/release?action=edit&id={{release.id}}" class="release-edit">
                <button class="release-edit-btn">{{_('edit')}}</button>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
<a href="/admin/release?action=new" class="release-new">
    <button class="release-new-btn">{{_('add song')}}</button>
</a>
<a href="/admin/index-edit" class="index-edit">
    <button class="index-edit-btn">{{_('edit home page')}}</button>
</a>
{% endblock %}