<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel='stylesheet' href="/static/css/admin/login.css">
    <title>станет хуже admin: login</title>
</head>

<body {{ bodyproperty }}>
    {% if status%}
    <div>
        {{status}}
    </div>
    {% endif %}
    <form method="POST">
        <div>
            <label for="username"><b>Username</b></label>
            <input name="username">
        </div>
        <div>
            <label for="password"><b>Password</b></label>
            <input name="password">
        </div>
        <input type="submit">
        <a href="/admin/login/forget"> Forget password? </a>
    </form>
</body>