{% extends "admin/base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/home.css">
{% endblock %}
{% block content %}
<form action="/admin/release?action=new" method="post" enctype="multipart/form-data">
    <div class="parameter">
        <img id="output" />
        <div class="description"> Cover (jpeg)*:</div>
        <input type="file" name="cover" accept="image/jpeg" onchange="loadFile(event, 'output')">
    </div>

    <div class="parameter">
        <img id="output-og" />
        <div class="description"> OG (jpeg)*: </div>
        <input type="file" name="og" accept="image/jpeg" onchange="loadFile(event, 'output-og')">
    </div>

    <div class="parameter">
        <div class="description"> Release name*: </div>
        <input name="name">
    </div>

    <div class="parameter">
        <div class="description"> Release id*: </div>
        <input name="id">
    </div>

    {% if action == "new" %}
    <input type="submit" value="add song" name="submit">
    {% else %}
    <input type="submit" value="save" name="submit">
    {% endif%}
</form>
{% endblock %}
{% block loaded_scripts %}
<script src="/static/scripts/admin/release.js"></script>
{% endblock %}