<!doctype html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel='stylesheet' href="/static/css/mobile/style.css">
    {% endblock %}
    {% block title %}
    <title>станет хуже</title>
    <meta name="title" content="станет хуже">
    <meta property="og:title" content="станет хуже">
    <meta name="twitter:title" content="станет хуже">
    <meta name="description" content="{{_('description')}}">
    <meta property="og:description" content="{{_('description')}}">
    <meta name="twitter:description" content="{{_('description')}}">
    <meta name="image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta property="og:image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta name="twitter:image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta name="url" content="http://www.stanethuzhe.ru/">
    <meta name="twitter:card" content="summary_large_image">
    {% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <div id="background_wrap"></div>
    <div class="wrapper">
        <div id="header" class="header">
            {% block header %}
            <a href="/{{session['lang_arg']}}">
                <img src="/static/images/bandlogo.png" alt="" class="bandlogo">
            </a>
            {% endblock %}
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
        <div class="menu-main">
            <button class="ham">
                <img class="menuIcon" src="/static/images/icons/menu.svg">
                <img class="xIcon" src="/static/images/icons/close.svg">
            </button>
            <ul class="menu">
                <div class="menu-nav">
                    <li><a class="nav-link" href="/{{session['lang_arg']}}">{{_('home')}}</a></li>
                    <li><a class="nav-link" href="/feed{{session['lang_arg']}}">{{_('feed')}}</a></li>
                    <li>
                        <div class="nav-div" id="discogs"> {{_('discogs')}} <span class="expand"> <img
                                    class="expand-icon" src="/static/images/icons/expand.svg" id="release-expand-icon">
                            </span></div>
                    </li>
                    <div class="dropdown-content" id="release-links">
                        <div class="links-container">
                            <a href="/releases/reki{{session['lang_arg']}}">{{_('album')}} "реки"</a>
                            <a href="/releases/march{{session['lang_arg']}}">{{_('single')}} "марш пустых знамён"</a>
                            <a href="/releases/unsleep{{session['lang_arg']}}">{{_('single')}} <br> "бессонница"</a>
                            <a href="/releases/traces{{session['lang_arg']}}">{{_('single')}} <br> "тропы"</a>
                        </div>
                    </div>
                </div>
                <div class="menu-social">
                    <div class="language-switch">
                        <a></a>
                        <a class="language-button" onclick="change_lang('en');">en</a>
                        <div class="slash">&nbsp;/&nbsp;</div>
                        <a class="language-button" onclick="change_lang('ru');">ru</a>
                    </div>
                    <ul class="social-links">
                        <li class="social">
                            <a target="_blank" href="https://vk.com/stanethuzhe">
                                <img src="/static/images/vk.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://stanethuzhe.bandcamp.com/">
                                <img src="/static/images/bandcamp.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://www.instagram.com/stanethuzhe/">
                                <img src="/static/images/instagram.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://www.youtube.com/channel/UCiFPrPKAUg391EqICZy8dxw">
                                <img src="/static/images/youtube.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://www.facebook.com/stanethuzhe">
                                <img src="/static/images/facebook.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank"
                                href="https://music.apple.com/ru/artist/%D1%81%D1%82%D0%B0%D0%BD%D0%B5%D1%82-%D1%85%D1%83%D0%B6%D0%B5/1489799830">
                                <img src="/static/images/apple.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://open.spotify.com/artist/6ICMu3DruvV9h4UbB6Kovn">
                                <img src="/static/images/spotify.svg" alt="">
                            </a>
                        </li>
                        <li class="social">
                            <a target="_blank" href="https://music.yandex.ru/artist/8451417">
                                <img src="/static/images/yandex.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <script src="/static/scripts/mobile/base.js"></script>
    {% block loaded_scripts %}
    {% endblock %}
</body>