{% extends "mobile/base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' href="/static/css/mobile/release.css">
{% endblock %}
{% block title %}
<title>станет хуже - {{release_data['release-name']}}</title>
<meta name="title" content="станет хуже - {{release_data['release-name']}}">
<meta property="og:title" content="станет хуже - {{release_data['release-name']}}">
<meta name="twitter:title" content="станет хуже - {{release_data['release-name']}}">
<meta name="description" content="{{release_data['type']}}, {{release_data['date']}}">
<meta property="og:description" content="{{release_data['type']}}, {{release_data['date']}}">
<meta name="twitter:description" content="{{release_data['type']}}, {{release_data['date']}}">
<meta name="image" content="http://www.stanethuzhe.ru/static/releases/{{release_data['release-id']}}/og.jpg">
<meta property="og:image" content="http://www.stanethuzhe.ru/static/releases/{{release_data['release-id']}}/og.jpg">
<meta name="twitter:image" content="http://www.stanethuzhe.ru/static/releases/{{release_data['release-id']}}/og.jpg">
<meta name="url" content="http://www.stanethuzhe.ru/">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}
{% block content %}
<div>
    <div style="max-width: 700px;">
        <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%; padding-top: 120px;">
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/{{release_data['bandcamp-id']}}/size=large/bgcol=000000/linkcol=ffffff/tracklist=false/transparent=true/"
                style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen
                scrolling="no" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>
<div class="release-info">
    <div class="release-name"> {{release_data['release-name']}} </div>
    <div class="date">Release date: {{release_data['date']}} </div>
    <div class="tracklist-head">Tracklist:</div>
    <ul class="tracklist">
        {% for track in tracklist%}
        <div class="lyrics-dropdown">
            <button onclick="openLyrics('{{ track.id }}')" class="lyrics-btn">
                {{loop.index}}. {{ track.name }}
            </button>
            <div id={{ track.id }} class="lyrics">
                <pre><b>Lyrics:</b> {{track.written}}</pre>
                <pre>{{track.lyrics}}</pre>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
<div class="services-section">
    <ul class="services">
        {% for service in release_data.services %}
        <li>
            <div class="service">
                <a href="{{ service.link }}" class="service-link" target="_blank">
                    <img src="/static/images/services/{{ service.name }}.png">
                </a>
                <a href="{{ service.link }}" class="service-link" target="_blank">
                    <button class="service-btn">Play</button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    function openLyrics(id) {
        document.getElementById(id).classList.toggle("show");
    }
</script>
{% endblock %}