<!doctype html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/bandlogo.png">
    <link rel='stylesheet' href="/static/css/style.css">
    {% endblock %}
    {% block title %}
    <title>станет хуже</title>
    <meta name="title" content="станет хуже">
    <meta property="og:title" content="станет хуже">
    <meta name="twitter:title" content="станет хуже">
    <meta name="description" content="Post-metal from Saint Petersburg">
    <meta property="og:description" content="Post-metal from Saint Petersburg">
    <meta name="twitter:description" content="Post-metal from Saint Petersburg">
    <meta name="image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta property="og:image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta name="twitter:image" content="http://www.stanethuzhe.ru/static/images/og-home.jpg">
    <meta name="url" content="http://www.stanethuzhe.ru/">
    <meta name="twitter:card" content="summary_large_image">
    {% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body {{ bodyproperty }}>
    <div class="wrapper">
        <div id="header" class="header">
            {% block header %}
            <img src="/static/images/bandlogo.png" alt="" class="bandlogo">
            {% endblock %}
            <div class="navbar">
                <a href="/" class="nav-link">home</a>
                <div class="vl"></div>
                <div class="dropdown">
                    <button class="dropbtn">discogs</button>
                    <div class="dropdown-content">
                        <a href="/releases/unsleep">single "бессонница"</a>
                        <a href="/releases/traces">single "тропы"</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">{% block content %}{% endblock %}</div>
    </div>

    <footer class="footer">
        <ul class="social-links">
            <li class="social">
                <a target="_blank" href="https://vk.com/stanethuzhe">
                    <img src="/static/images/vk.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://stanethuzhe.bandcamp.com/">
                    <img src="/static/images/bandcamp.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://www.instagram.com/stanethuzhe/">
                    <img src="/static/images/instagram.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://www.youtube.com/channel/UCiFPrPKAUg391EqICZy8dxw">
                    <img src="/static/images/youtube.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://www.facebook.com/stanethuzhe">
                    <img src="/static/images/facebook.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank"
                    href="https://music.apple.com/ru/artist/%D1%81%D1%82%D0%B0%D0%BD%D0%B5%D1%82-%D1%85%D1%83%D0%B6%D0%B5/1489799830">
                    <img src="/static/images/apple.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://open.spotify.com/artist/6ICMu3DruvV9h4UbB6Kovn">
                    <img src="/static/images/spotify.svg" alt="" class="filter-pink">
                </a>
            </li>
            <li class="social">
                <a target="_blank" href="https://music.yandex.ru/artist/8451417">
                    <img src="/static/images/yandex.svg" alt="" class="filter-pink">
                </a>
            </li>
        </ul>
    </footer>
</body>
