{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel='stylesheet' media='screen and (min-width: 1000px)' href="/static/css/release.css">
{% endblock %}
{% block content %}
<div class="media-side">
    <div style="max-width: 700px;">
        <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 100%;">
            <iframe
                src="https://bandcamp.com/EmbeddedPlayer/{{release_data['bandcamp-id']}}/size=large/bgcol=333333/linkcol=e8c8c8/tracklist=true/transparent=true/"
                style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen
                scrolling="no" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>
<div class="release-info">
    <div class="release-name"> {{release_data['release-name']}} </div>
    <div class="date">Release date: {{release_data['date']}} </div>
    <div class="tracklist-head">Tracklist:</div>
    <ul class="tracklist">
        <form method="post" action="/releases/{{release_data['release-id']}}">
            {{ tracklist | safe }}
        </form>
    </ul>
</div>
{% endblock %}