pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.content {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin: 40px auto 40px auto;
    gap: 5%;
}



.media-side {
    width: 40%;
}

.service{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* float: left; */
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service img {
    height: 32px;
    max-width: 100%;
}

.service button {
    height: 32px;
    width: 80px;
    max-width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.856);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-align: center;
}

.service-btn:hover {
    background-color: rgba(124, 124, 124, 0.856);
}

.release-info {
    width: 40%;
}

.release-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.release-name {
    font-size: 40px;
}

.share {
    display: inline-block;
    vertical-align:middle;
}

.share-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 32px;
    max-width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.856);
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    pointer-events: none;
}

.share-dropdown {
    width: fit-content;
    display: none;
    padding: 4px;
    position: absolute;
    background-color: rgba(124, 124, 124, 0.856);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.534);
    z-index: 1;
    align-items: center;
}

.share-link {
    cursor: pointer;
    padding: 0 5px;
}

.share-text {
    font-size: 14px;
}

.share-icon {
    height: 24px;
    max-width: 100%;
}

.share-btn:hover {
    background-color: rgba(124, 124, 124, 0.856);
    text-decoration: none;
}

.share:hover .share-dropdown {
    display: flex;
}

.content ul {
    padding: 0;
    list-style-type: none;
}

.lyrics-btn {
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.lyrics-btn:hover {
    color: white;
}

.lyrics {
    display: none;
}

.show {display: block;}

.tracklist-head {
    margin-top: 20px;
}

.copied-alarm {
    display: flex;
    justify-content: center;

    position:absolute;
    top:40%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width:150px;
    background-color:rgba(124, 124, 124, 0.856);

    visibility: hidden;
    opacity: 0;
}

.auto-resizable-iframe {
    margin: 20px auto;
  }

.auto-resizable-iframe > div {
position: relative;
padding-bottom: 56.25%;
height: 0px;
}

.auto-resizable-iframe iframe {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}